<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>Welcome to Craft CMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />
    <link rel="stylesheet" href="./index.css" />
</head>
<body>
<div class="header">
    <div class="nav">
        <div class="logoMenuIcon">
            <a href="#" class="logoContainer">
                <div class="logo">
                    <div class="companyName">
                        <h4>Pretend Company</h4>
                        <p>Consulting Group</p>
                    </div>
                </div>
            </a>
            <div class="menuIcon">Menu</div>
        </div>
        <div class="menu">
            <div class="menuLinks">
                <a href="#">Expertise</a>
                <a href="#">Events</a>
                <a href="#">About Us</a>
                <a href="#">Connect</a>
                <a href="#">Customer Stories</a>
            </div>
            <div class="menuActions">
                <a href="#">
                    <button>Get to know us</button>
                </a>
                <Search />
            </div>
        </div>
    </div>

    <div class="cta">
        <div class="ctaMessage">
            <h1>Creating Clear Direction, Intuitive Processes, <span>and Engaged Teams.</span></h1>
        </div>
        <div class="ctaLinks">
            <a href="#">
                <button>Get to know us</button>
            </a>
            <p>Ready to get started? <a href="#">Contact us today.</a></p>
        </div>
    </div>

    <div class="subMenu">
        <div class="subMenuPrompt" >
            <p>How can we help?</p>
        </div>
        <div class="subMenuLinks showSubMenu">
            <a href="#">I own a business.</a>
            <a href="#">I mange or work on a team.</a>
            <a href="#">I'm here to learn.</a>
        </div>
    </div>
</div>
</body>
</html>
